@model PGD.Application.ViewModels.SelecionarUnidadeViewModel
@using PGD.Domain.Entities.RH

@{
    ViewBag.Title = "Selecionar unidade";
}

<div class="col-md-6 col-sm-6 col-lg-6 leftUnid"></div>
<div class="col-md-6 col-sm-6 col-lg-6 right">

    <div class=" selecione_perfil_main ">


        @using (Html.BeginForm("SelecionarUnidade", "Login", FormMethod.Post, htmlAttributes: new { @class = "form col-md-12" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-default panel-conteudo">

                <div class="panel-body corpodopainel">
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.Label("IdUnidade", "Selecione a Unidade(UORG):", new { @class = "col-md-12 control-label title-select-unid" })
                            @Html.DropDownListCGUFor(m => m.IdUnidade, new SelectList((List<Unidade>)TempData["lstUnidade"], "IdUnidade", "Nome"), new { @class = "form-control input-form", placeholder = " " }).Selectize()
                            @Html.ValidationMessageFor(c => c.IdUnidade)
                        </div>
                    </div>

                </div>
                <button class="btn btn-entrar" style="width:195px">Entrar</button>
            </div>

        }
        <div>
            <img class="image-footer-select-unid" src="~/Imagens/fundo.dnit_v5.png" />
        </div>

        <div class="clearfix"></div>
    </div>
   
</div>
